---
interface Props {
  title: string;
  description: string;
  pubDate: Date;
  slug: string;
}

const { title, description, pubDate, slug } = Astro.props;

const formattedDate = new Date(pubDate).toLocaleDateString('en-US', {
  month: 'short',
  day: 'numeric',
  year: 'numeric',
});
const base = '/blog';
---

<a href={`${base}/${slug}/`} class="post-card">
  <div class="post-card-header">
    <span>{formattedDate}</span>
  </div>
  <h3>{title}</h3>
  <p>{description}</p>
</a>
